@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    
}

header {
    font-family: "Poppins", sans-serif;
}

/* General Styling */
nav {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-logo img {
    height: 100px;
}

.nav-logo a{
    
    display: flex;
      align-items: center;
      gap: 20px;
      font-size: 3rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  color: black;
}



.nav-options {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: row;
    transition: all 0.3s ease-in-out;
}

.nav-options ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-link a {
    text-decoration: none;
    color: #0000008c;
    font-size: 20px;
    position: relative;
}

.nav-link a::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -5px;
    left: 0;
    background: #112f55;
    transition: width 0.3s ease;
}

.nav-link a:hover::after {
    width: 100%;
}

.cv {
    height: 60px;
    width: 160px;
    background: #112f55;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Add spacing when in column layout */
    transition: all 0.3s ease-in;
}

.cv:hover {
    transform: translateY(-5px);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
  }

.cv-upload {
    display: flex;
    gap: 12px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Hamburger Menu Styling */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 30px;
    height: 3px;
    background: #112f55;
    border-radius: 3px;
}


/* MAIN SECTION */

main{
    margin-top: 20px;
    background: #eaedf2;
}

.text-type{
    text-align: center;
}

.text-type span{
    font-size: 2rem;
    font-family: "Rubik", serif;
    font-weight: bold;
    position: relative;
}

.text-type span::before{
    content: "Welcome To DAFTER ROZGAR";
}

.text-type span::after{
    content: "";
    width: calc(100% + 8px);
    height: 100%;
    position: absolute;
    background-color: white;
    border-left: 2px solid black;
    right: -8px;
    animation: blink 0.8s infinite,typing 20s steps(15) infinite;
}