body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
nav {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-logo img {
  height: 100px;
}

.nav-logo a {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 3rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.nav-options {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-direction: row;
  transition: all 0.3s ease-in-out;
}

.nav-options ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-link a {
  text-decoration: none;
  color: #0000008c;
  font-size: 20px;
  position: relative;
}

.nav-link a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -5px;
  left: 0;
  background: #112f55;
  transition: width 0.3s ease;
}

.nav-link a:hover::after {
  width: 100%;
}

.cv {
  height: 60px;
  width: 160px;
  background: #112f55;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Add spacing when in column layout */
}

.cv-upload {
  display: flex;
  gap: 12px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.cv:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
}

/* Hamburger Menu Styling */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background: #112f55;
  border-radius: 3px;
}

main {
  background: #eaedf2;
  padding: 5px 0px;
}

.form-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  background-color: #112f55;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 10px;
  text-align: center;
}

p {
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

label {
  font-size: 14px;
  font-weight: bold;
  flex: 1;
}

input,
textarea,
button {
  flex: 2;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 14px;
  background-color: #ffffff;
  color: #000000;
}

input[type="file"] {
  border: none;
}

textarea {
  resize: vertical;
}

button {
  background-color: #112f55;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
}

button:hover {
  background-color: #0d243f;
}

.red {
  color: red;
}
.footer {
  text-align: center;
  /* padding: 20px; */
  background-color: #112f55;
  color: white;
  font-family: "poppins", sans-serif;
  margin-top: 20px;
}